/* ..............main elementsss start here.....  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: 'Open Sans', sans-serif; 
    font-size: 12px;
}


html,body{
    width: 100%;
min-width: 850px;
}


#wrapper{
min-height: 100vh;
padding-bottom: 40px;
}


/* ..............main elementsss end here.....  */







/* --------------------Navbar------------- */
#menu{
    text-transform: uppercase;
    background: #00647b;
    position: sticky;
    top: 0;
    width: 100%;
    max-height: 48px;
    border-bottom: 1px solid rgba(1, 200, 190, 0.6);
    display: flex;
    justify-content: space-between;
    z-index: 5;
}


#menu>ul{
    display: inline-flex;
}


nav #menubar ul{
 position: relative;
}


nav #menubar li a{
    display: block;
}


.right ul{
display: inline-flex;
}


.right ul li{
    list-style-type: none;
    }


    nav li input{
    background-image: url(../assets/search.svg) ;
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: 4px 5px;
    padding-left:40px;
    width: 20px;
    color: #ff8b00d1;
    font-weight: 600;
    margin: 12px 12px 0 0 ;
    padding: 2px;
    border-radius: 6px;
    outline: none;
    text-indent: 20px;
    border: none;
    transition: width 500ms;
}


#menu .right ul li .fa-youtube, #menu .right ul li .fa-facebook-square {
    color: #ffffff;
    font-size: 16px;
    padding-top: 15px;
    padding-right: 10px;
    transition: color 500ms;
}


#menu .right ul li .fa-youtube:hover, #menu .right ul li .fa-facebook-square:hover{
    color: #fcab48d1;
}



#menubar>li{
    list-style-type: none;
    display: inline-flex;
    display: block;
}


#menubar>li>a{       
padding: 15px 30px;
text-decoration: none;
color: rgb(255, 255, 255);
transition: background-color 500ms;
}



#menu input::placeholder{
    color: rgba(122, 122, 122,.4);
    font-weight: 100;
    font-size: 12px;
}


#menu input[type='search']:focus {
    width: 140px;
}


.active{
    background-color: #ff8b00d1 !important;
}


#menu #menubar .submenu ul{
    position: absolute;
    overflow: hidden;
    list-style-type: none;
    background-color:#00647b;
    box-shadow: 5px 5px 20px rgba(83, 83, 83,.3);
    transition: all 500ms;
    border-bottom: 2px solid rgba(1, 200, 190, 0.6);
}


.submenu{
    display: none;
}


#menu #menubar .submenu ul>li>a{
padding: 20px 15px;
display: block;
text-decoration: none;
color: white;

}



#menubar li:hover .submenu{
        display: block;
}



#menubar li:hover {
    background-color: teal;
}



/* ---------------------navbar end--------------- */




/* --------------cover------------- */

.bg{
    background-image: linear-gradient(30deg, rgb(2, 64, 88), rgba(0,176,213,1)); 
    height: 500px;
    background-position: cover;
    width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    }


    #cover img{
    width: 300px;
    height: auto;
    }


    /* ---------------cover End----------- */





    /* ............body content start ......*/

.container{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
flex-wrap: wrap;
width: auto;
height: auto;
}



.content{
    margin: 20px;
    display: flex;
    margin-top: 40px;
    width: auto;
    height: auto;
}


.content-1{
    background-color: white;
    display: flex;
    flex-direction: row;
    box-shadow: 5px 5px 20px rgba(70, 69, 69,.3);
    justify-content: space-between;
    align-items:center;

}


.content-1>.text{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 60px;
}


.content-1>.text>h2{
    font-size: 4rem;
    text-transform: uppercase;
    color: #ff8b00d1; 
}

.content-1>.text>button>a{
    text-decoration: none;
    text-align: center;
    color: #00647b;
    text-transform: uppercase;
    font-size: 1rem;
    transition: all 500ms;
}


.content-1>.text>button:hover a{
color: #ffffff;
}


.content-1>.text>button{
background-color: white;
padding: 10px 20px;
margin: 20px;
border: 1px solid #fcab48d1;
border-radius: 50px;
width: 65%;
transition: all 500ms;
box-shadow: 1px 1px 2px grey;
}


.content-1>.text>button:hover{
background-color: #00647b;
border: 1px solid #2ed9ff;
width: 100%;

}


.content-1>.image{
    display: flex;
    width: auto;
}


.content-1>.image>img{
    max-width: 400px;
    height: auto;
} 

/* ..................body content end here ......*/






/* ................footer start......... */
 #footer{
background-color: rgb(68, 68, 67);
padding: 5px 10px;
color: white;
text-align: center;
display: block;
font-size: 10px;
margin-top: -30px;
min-height: 30px;
height: auto;
width: 100%;
}


#footer p{
border-left: 1px solid white;
border-right: 1px solid white;
display: inline-block;
padding: 0 10px;
}
/* ..............footer end ........... */









/* ..................CV Gallery Styles Start Here.......  */

.gallery{
    margin: 40px;
}



.g-heading>h2{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #ff8b00;
    padding-left: 5px;
    border-bottom: 4px solid #00647b;
    border-radius: 50px;
    width: 80%;
    margin: 80px auto 40px auto;
    text-align: center;
    cursor: pointer;
    transition: 1500ms;
}


.g-heading>h2:hover{
    letter-spacing: 3px ;
}



.cv-container{
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.cv-data{
    box-shadow: 5px 5px 6px 4px rgb(83 83 83 / 40%);
    display: flex;
    flex-direction: column;
    align-self:center;
    text-align: center;
    margin: 30px 40px;
    transition: 1000ms;
    z-index: 1;
}


.cv-data:hover{
transform: scale(1.09);
}



.cv-data>.cv-name>h2{
    font-size: 2rem;
    color: #ff8b00d1;
    padding: 10px;
}


.cv-data>.cv-image>img{
width: 300px;
height: auto;
}



.cv-image>.btn>.btn-cv{
    margin: 15px;
    border-radius: 20px;
    background-color: transparent;
    border: none;
}


.cv-image>.btn>.btn-cv>a{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #00647b;
    text-decoration: none;
    text-transform: uppercase;
    color: #ff8b00;
    display: block;
    width: 140px;
    transition: all 500ms;
}



.cv-image>.btn>.btn-cv>a:hover{
    color: #fff;
    background-color: #ff8b00;
}



.cv-image>.btn>.btn-cv:hover a{
    width: 200px;
}


.btn-more{
    margin: 60px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-more>a{
    text-decoration: none;
    color: #ff8b00;
    font-size: 2rem;
    border-radius: 50px;
    border: 2px solid #00647b;
    padding: 20px 40px;
    text-transform: uppercase;
    transition: 1000ms;
}


.btn-more>a:hover{
    padding: 20px 120px;
    color: white;
    background-color: #00647b;

}


hr{
    width: 90%;
    margin: auto;
    border: 6px dashed #437681;
    opacity: 0.2;
    border-radius: 5px;
}

.block-1 a{
    font-size: 4rem;
}


/* ................CV Gallery Styles End Here.......  */





/* ................Slideshow Gallery Styles Start Here.......  */


.gallery{
    margin: 40px;
}



.g-heading>h2{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #ff8b00;
    padding-left: 5px;
    border-bottom: 4px solid #00647b;
    border-radius: 50px;
    width: 80%;
    margin: 80px auto 40px auto;
    text-align: center;
    cursor: pointer;
    transition: 1500ms;

}

.g-heading>h2:hover{
    letter-spacing: 3px ;
}



.video-container{
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.video-data{
    box-shadow: 5px 5px 6px 4px rgb(83 83 83 / 40%);
    display: flex;
    flex-direction: column;
    align-self:center;
    text-align: center;
    margin: 30px 40px;
    z-index: 1;
}



.video-data>.video-name>h2{
    font-size: 2rem;
    color: #ff8b00d1;
    padding: 10px;
}


.video-data>.vidvideo-image>video{
border: none;
outline: none;
}


.video-image>.btn>.btn-video{
    margin: 15px;
    border-radius: 20px;
    background-color: transparent;
    border: none;

}


.video-image>.btn>.btn-video>a{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #00647b;
    text-decoration: none;
    text-transform: uppercase;
    color: #ff8b00;
    display: block;
    width: 140px;
    transition: all 500ms;
}



.video-image>.btn>.btn-video>a:hover{
    color: #fff;
    background-color: #ff8b00;
}



.video-image>.btn>.btn-video:hover a{
    width: 200px;
}


.btn-more{
    margin: 60px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-more>a{
    text-decoration: none;
    color: #ff8b00;
    font-size: 2rem;
    border-radius: 50px;
    border: 2px solid #00647b;
    padding: 20px 40px;
    text-transform: uppercase;
    transition: 1000ms;
}


.btn-more>a:hover{
    padding: 20px 120px;
    color: white;
    background-color: #00647b;
}


hr{
    width: 90%;
    margin: auto;
    border: 6px dashed #437681;
    opacity: 0.2;
    border-radius: 5px;
}


/* ................Slideshow Gallery Styles End Here.......  */





/* ..................contact Us.html style start............  */


.contact-us .form, .contact-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form tr td, form tr td input, form tr td textarea  {
    width: 400px;
    resize: none;
    outline: none;
    margin: auto;
    padding: 10px;
    gap: 0;
}



form tr td{
    background-color: #d4d4d433;
    }

form tr td:first-child{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #ff8b00;
}


form tr td label{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: #ff8b00;
    }



form tr td ::placeholder{
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 400;
    color: grey;
}



form tr #submit button {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: #ff8b00;
    padding: 5px 60px;
    border: 1px solid #00647b;
    border-radius: 20px;
    transition: 500ms;
    margin: 20px 0;
}


form tr #submit button:hover {
padding: 5px 100px ;
background-color: #ff8b00;
color: white;
font-weight: 700;
}

.card-contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 60%;
    box-shadow: 5px 5px 6px 4px rgb(83 83 83 / 40%);
    margin: 40px auto;
    padding: 20px;
    transform: scale(1);
    transition: 100;
}


.card-contact:hover{
    transform: scale(1.1);
}


.card-contact h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: #ff8b00;
    padding: 5px 60px;
}



.card-contact #number{
    font-size: 50px;
    margin: 0;
}

/* ..................contact Us.html style start............  */


/* ................ FAQS Style start here..................  */

.form-2 form tr td{
    text-align: left;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #ff8b00;
    padding: 20px;
    }

    .form-2 form tr td:nth-child(2){
        text-align: left;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        color: #3f3f3f;
        }

        .form-2 form #head td{
            text-align: center;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 900;
            color: #ff8b00;
            padding: 20px;
            }


/* ................ FAQS Style End here..................  */

